body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

h2 {
  font-family: "Belanosima", sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #404040;
  padding: 20px;
  border-radius: 5px;
  z-index: 1; /* Add a higher z-index to keep the sidebar on top */
}

.sidebar button {
  width: 200px;
  font-family: "Urbanist", sans-serif;
  background-color: #4caf50;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: transform 0.5s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.sidebar button:hover {
  transform: scale(1.1);
}

.sidebar button:active {
  transform: scale(0.95);
  background-color: #45a049;
  box-shadow: none;
}

.header {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 20px;
}

.header h1 {
  padding: 10px;
  font-family: "Caveat", cursive;
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
}

.my-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 720px;
  margin: 0 auto; /* Center the div horizontally */
}

.content {
  font-family: "Urbanist", sans-serif;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 5px;
  z-index: 0; /* Set a lower z-index to ensure the content stays below the sidebar */
}

.chart-container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  gap: 40px;
}

.chart {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
}

.workouts {
  flex: 1;
  margin-top: 80px;
  margin-bottom: 20px;
}

.planned-workouts {
  margin-bottom: 20px;
}

.dashboard {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.progress-chart {
  flex: 1;
}

.workouts h2 {
  //font-weight: 900;
}

.planned-workouts h2 {
  //font-weight: 900;
}

#workoutList {
  list-style-type: none;
  padding: 0;
}

#workoutList li {
  margin-bottom: 10px;
}

#plannedWorkoutsList {
  list-style-type: none;
  padding: 0;
}

#plannedWorkoutsList li {
  margin-bottom: 10px;
}

.right-sidebar {
  color: white;
  font-weight: 600;
  background-color: #404040;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  top: 0;
  right: 0;
  width: 220px;
  height: 100vh;
  z-index: 1; /* Add a higher z-index to keep the right-sidebar on top */
}

.stats {
  font-family: "Urbanist", sans-serif;
  margin-top: 5px;
}

#imageContainer img {
  width: 40px;
  height: auto;
  marin-bottom: 0px;
}

.stats h2 {
  color: #5fc9f3;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 15px;
}

.stats p {
  margin: 0;
  font-size: 16px;
}

#message {
  color: white;
  font-weight: bold;
}
